@model SchoolWeb.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<br>
<br>
<h3 class="text-center">Change Password</h3>
<br>
<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="OldPassword">Current Password</label>
                <input asp-for="OldPassword" type="password" class="form-control bg-light" />
                <span asp-validation-for="OldPassword" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control bg-light" />
                <span asp-validation-for="NewPassword" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm">Confirm</label>
                <input asp-for="Confirm" type="password" class="form-control bg-light" />
                <span asp-validation-for="Confirm" class="text-danger small"></span>
            </div>
            <br>
            <div class="form-group text-center">
                <input type="submit" value="Change Password" class="btn btn-secondary" />
            </div>
            <div class="col-md-4 offset-md-4 nav-item text-center">
                <a asp-controller="Users" asp-action="EditOwnProfile" class="nav-link text-dark">Back</a>
            </div>
            <div class="text-danger text-center mr-4" asp-validation-summary="ModelOnly"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
