@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <br>
    <br>
    <h3 class="text-center">Error</h3>
    <br>
    <div>
        <p class="text-center">An error occurred while processing your request</p>
    </div>
}
else
{
    <br>
    <br>
    <h3 class="text-center">@ViewBag.ErrorTitle</h3>
    <br>
    <div>
        <p class="text-center">@Html.Raw(ViewBag.ErrorMessage)</p>
    </div>
}
